#footer-container {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 8vh;
  bottom: 0px;
  background-color: rgba(0, 191, 255, 1);
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#footer-text {
  margin: 0px;
  padding: 0px;
  padding-top: 1vh;
  height: fit-content;
  line-height: 3vh;
  vertical-align: middle;
  text-align: center;
}