#nav-bar-container {
  font-size: 32px;
  text-align: center;
  width: 100%;
  height: fit-content;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.nav-bar-button {
  display: inline-flex;
  margin: 8px;
  padding: 4px;
  font-size: 32px;
  line-height: 32px;
  width: fit-content;
  height: fit-content;
  color:deepskyblue;
  transition-duration: 0.2s;
  text-decoration: none;
  padding: auto;
  border-radius: 8px;
}
.nav-bar-button:hover {
  color:white;
  background-color:deepskyblue;
}
Link {
  margin: 0px;
  padding: 0px;
}