.page-title {
  font-size: 40px;
}
.text {
  margin: auto;
  text-align:justify;
  width: 75%;
  font-size: 22px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid lightskyblue;
  margin: 0px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  padding: 0px;
}
tr:nth-child(even) {
  background-color: lightskyblue;
}